.App {
  text-align: center;
  position: relative;
}

input{
  margin: 50px 5px;
  padding: 20px 100px;
  width: 250px;
  font-size: 35px;
  display: inline-block;
}

button {
  padding: 10px 100px;
  background-color: blue;
  color:  white;
  font-size: 25px;
  display: block;
  margin: 0px auto;
}
